* {
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 0;

    list-style-type: none;
}

.gallery-image {
    height: 200px;
    width: 360px;
    gap: 24px;
    cursor: pointer;

    transition: transform 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.044);
}